
.altura-barra{
  height: 150px;
  max-height: 150px;
  background-color: rgb(15, 231, 166);

}
.logo{
  height: 80%;
}
.bajar-iconos{
  padding-top: 100px;
  padding-right: 20px;
}
.icono{
  height: 20%;
}
.color-navbar{
  background-color: rgb(193, 232, 222)
}
.padding-historias{
  padding: 8px;
}
.icono2{
  height: 50px;
