
.altura-barra{
  height: 150px;
  max-height: 150px;
  background-color: rgb(15, 231, 166);

}
.altura-barra div{
height: 80%;
}
.logo{
height: 100%;

}


.icono{
  height: 30px;
  padding-left: 8px;
}

.horizontal{
display: inline;
}

.separacion{
  padding-top: 80px;
}
.linea{
  border-bottom: 1px solid lightgrey;
  padding-bottom: 50px;
}
.color-navbar{
  background-color: rgb(15, 231, 166);
  padding-bottom: 10px;

}
.padding-historias{
  padding: 10px;
}
.icono2{
  height: 50px;
}
.colorlabel{
  background-color: rgb(196, 196, 196);
  margin-right: 6px;
  margin-top: 10px;
  border: 2px solid rgb(184, 179, 174);
  border-radius: 5px;
}
.lupa{
  background: none;

  border: none;

}

.padding {
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
