
.altura-barra{
  height: 150px;
  max-height: 150px;
  background-color: rgb(15, 231, 166);

}
.logo{
  height: 80%;
}
.bajar-iconos{
  padding-top: 100px;
  padding-right: 20px;
}
.icono{
  height: 20%;
}
.color-navbar{
  background-color: rgb(15, 231, 166);
  padding-bottom: 10px;

}
.padding-historias{
  padding: 10px;
}
.icono2{
  height: 50px;
}
.colorlabel{
  background-color: rgb(196, 196, 196);
  margin-right: 6px;
  margin-top: 10px;
  border: 2px solid rgb(184, 179, 174);
  border-radius: 5px;
}
.lupa{
  background: none;

  border: none;

}

.padding {
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
